.App{
    text-align: center;
     
}
.App >h2{
    text-shadow: 4px 2px 15px #311a1a;
}


.question_container{
    text-align: left;
    max-width: 500px;
    box-shadow: 0px 5px 24px #867a7a;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
}

.question_container .radio{
    display: block;
    margin: 15px 0px;

}


.question_form >.submit{
    width: 100%;
    border: none;
    background: #986334;
    color: white;
    border-radius: 5px;
    padding: 6px;
    margin-top: 20px;

}